body {background:black; color:#00FF00;}
p {background:black; color:#00FF00;}
.lab {background:white; padding:20px; text-align: center; margin-left:auto; margin-right:auto;}
table {border-collapse:collapse;border-spacing:0; text-align:center;border:0px solid green; margin-left:auto; margin-right:auto; }
.f {border-top-style: solid;border-top-width: 5px;border-top-color: black; }
.j {border-right-style: solid;border-right-width: 5px;border-right-color: black; }
.a {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color: black; }
.b {border-left-style: solid;border-left-width: 5px;border-left-color: black; }
.f_cso {border-top-style: solid;border-top-width: 5px;border-top-color: #b71008;}
.j_cso {border-right-style: solid;border-right-width: 5px;border-right-color: #b71008;}
.a_cso {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color: #b71008;}
.b_cso {border-left-style: solid;border-left-width: 5px;border-left-color: #b71008;}
.f_vas {border-top-style: solid;border-top-width: 5px;border-top-color:#daa000;}
.j_vas {border-right-style: solid;border-right-width: 5px;border-right-color:#daa000;}
.a_vas {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#daa000;}
.b_vas {border-left-style: solid;border-left-width: 5px;border-left-color:#daa000;}
.f_rez {border-top-style: solid;border-top-width: 5px;border-top-color:#2eb18e;}
.j_rez {border-right-style: solid;border-right-width: 5px;border-right-color:#2eb18e;}
.a_rez {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#2eb18e;}
.b_rez {border-left-style: solid;border-left-width: 5px;border-left-color:#2eb18e;}
.f_bronz {border-top-style: solid;border-top-width: 5px;border-top-color:#0a8ef2;}
.j_bronz {border-right-style: solid;border-right-width: 5px;border-right-color:#0a8ef2;}
.a_bronz {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#0a8ef2;}
.b_bronz {border-left-style: solid;border-left-width: 5px;border-left-color:#0a8ef2;}
.f_ezust {border-top-style: solid;border-top-width: 5px;border-top-color:#a9a7aa;}
.j_ezust {border-right-style: solid;border-right-width: 5px;border-right-color:#a9a7aa;}
.a_ezust {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#a9a7aa;}
.b_ezust {border-left-style: solid;border-left-width: 5px;border-left-color:#a9a7aa;}
.f_arany {border-top-style: solid;border-top-width: 5px;border-top-color:#fbfd14;}
.j_arany {border-right-style: solid;border-right-width: 5px;border-right-color:#fbfd14;}
.a_arany {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#fbfd14;}
.b_arany {border-left-style: solid;border-left-width: 5px;border-left-color:#fbfd14;}
.f_platina {border-top-style: solid;border-top-width: 5px;border-top-color:#6cfd04;}
.j_platina {border-right-style: solid;border-right-width: 5px;border-right-color:#6cfd04;}
.a_platina {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#6cfd04;}
.b_platina {border-left-style: solid;border-left-width: 5px;border-left-color:#6cfd04;}
.f_tolvaj {border-top-style: solid;border-top-width: 5px;border-top-color:#d219b3;}
.j_tolvaj {border-right-style: solid;border-right-width: 5px;border-right-color:#d219b3;}
.a_tolvaj {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#d219b3;}
.b_tolvaj {border-left-style: solid;border-left-width: 5px;border-left-color:#d219b3;}
.f_varazs {border-top-style: solid;border-top-width: 5px;border-top-color:#e0dcd1;}
.j_varazs {border-right-style: solid;border-right-width: 5px;border-right-color:#e0dcd1;}
.a_varazs {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#e0dcd1;}
.b_varazs {border-left-style: solid;border-left-width: 5px;border-left-color:#e0dcd1;}
.f_ism {border-top-style: solid;border-top-width: 5px;border-top-color:#032b6b;}
.j_ism {border-right-style: solid;border-right-width: 5px;border-right-color:#032b6b;}
.a_ism {border-bottom-style: solid;border-bottom-width: 5px;border-bottom-color:#032b6b;}
.b_ism {border-left-style: solid;border-left-width: 5px;border-left-color:#032b6b;}
img.szorny {width:62px; height:72px; border:0px}
span {color:#FF0000; font-weight: bold;}