body {background:#000000;}
table.eredmeny tr th.eredmenyfejlec {border:1px solid #880000; color: #FFFFFF; font-size:12px; padding:4px;}
table.eredmeny tr td.eredmenycella {border:1px solid #880000; color: #00FF00; font-size:12px; padding:4px;}